#pageWrapper {
  width: 800px;
}
#count {
  font-weight: bolder;
}

#appWrapper {
  width: 70%;
  margin: 0 auto;
  float: left;
}

#imgWrapper {
  text-align: center;
  width: 400px;
  height: 500px;
  margin: 0 auto;

}
#imgArray {
  max-width: 300px;
  max-height: 400px;
}
#formWrapper {
  width: 200px;
  margin: 0 auto;
}
#right {
  float: right;
  width: 20%;
}
#anchor {
  margin-top: 100px;
}
